body {
    background: #4488FC;
}

button {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

span {
    font-family: 'Roboto', sans-serif;
    cursor: default;
    color: white;
    font-size: 160px;
    text-align: center;
    line-height: 150px;
}

.containers {
    margin: 0 auto;
    height:150px;
    width: 510px;
}

.squares {
    text-align: center;
    height: 150px;
    width: 150px;
    background: white;
    float: left;
    margin: 10px;

}
